

/* Popup Container */
.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 10px;
    width: 310px;
    height: 300px;
    border: 4px dashed white;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1001;
}

.visitBtnHover{
    font-size: 18px;
}

#mobileWariningAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px !important;
}

.popup-container p,
.popup-container h1,
.popup-container div {
    background-color: hsla(0, 0%, 90%, 0.6) !important;
    backdrop-filter: blur(1px);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    z-index: 10;
}

.warning-buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.warning-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3) !important;
    z-index: 1000;
}
.mobileBackBtn{
    color: black;
    width: 150px;
    border-radius: 5px;
    border-style: groove;
    font-size: 15px;
    background-color: hsla(0, 0%, 100%, 0.3);
    margin: 0 auto;

    transition: border-radius 0.3s ease;
}
.mobileVisitBtn{
    width: 150px;
    font-size: 15px;
    background-color: rgba(0, 0, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 0 auto;

    transition: border-radius 0.3s ease;
}
.mobileBackBtn:hover, .mobileVisitBtn:hover{
    cursor: pointer;
    border-radius: 15px;
}
.mobileVisitBtn:hover{
    text-decoration: underline;
}
.mobileBackBtn:active {
    border-style: dashed;
    opacity: 90%;
}

.howTo {
    margin-top: 10px;
    line-height: 1.5;
}

.howTo p {
    font-family: 'Comic Neue', 'Luckiest Guy', cursive;
}

u {
    background-color: hsl(0, 0%, 13%);
    padding: 2px;
}

.howToPlay {
    background-color: hsl(0, 0%, 10%);
}

#exit-settings {
    position: fixed;
    left: 85%;
    top: 2.8%;
    
    height: 34px;
    width: 35px;
    float: right;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid black;
    color: black;
    border-style: dashed;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    z-index: 20;

    transition: color 0.3s ease;
}
#exit-settings:hover {
    color: white;
    border-style: dotted;
}