footer {
    display: flex;
    justify-content: space-between;

    /* background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px); */

    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.05)
    );
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(2px);
    
    border-top: 2px solid black;
    border-style: dashed;
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
    padding: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.center-side,.left-side,.right-side {
    width: 50%;
    text-align: center;
    display: table-column;
    align-items: center;
}
.center-side{
  padding-top: 7px;
}
.center-side:hover{
  text-decoration: underline dotted;
}

a {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
  }

  .redirect-icons{
    width: 20px;
  }
  .gmail{
    font-size: 14.5px;
  }
.left-side {
  display: none;
  justify-content: left;
  height: 50px;
}

  @media (min-width: 999px) and (max-width: 9999px) {
  .left-side{
    display: flex;
  }
  .right-side{
  text-align: right;
}
}

.site-logo {
  width: 30px;
  height: 30px;
}
footer li {
    display: inline;
    width: 70px;
    text-align: center;
    margin: 0px 0px 0px 20px;
}
footer li:hover{
    text-decoration: underline;
}
sub{
  font-weight: 600;
}

.layer2 {
  display: flex;
  justify-content:space-around;

    /* background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px); */

        background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.05)
      
    );
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(2px);


    border-top: 2px solid black;
    border-style: dashed;

  margin-top: 1px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid white;
  text-align: center;
}
.left-side2, .right-side2{
  opacity: 0.7;
  margin-bottom: 15px;
  margin-top: 5px;
}
.right-side2{
  user-select: none;
  cursor: pointer;
  animation: color 1s 1;
}
.right-side2:hover{
  text-shadow: 2px 1px 1px black;
}
.right-side2:active{
  color: black;
}

.socials a:nth-child(1) {
    color: hsl(206, 100%, 50%);
    text-shadow: 1px 1px 1px black;
  }
  .socials a:nth-child(2) {
    color: black
  }
  .socials a:nth-child(3) {
    color: whitesmoke;
  }
  @media (min-width: 301px) and (max-width: 460px) {
    footer li{
      margin: 0px 0px 0px 10px;
    }
  }