.skills-container {
    margin: 0;
    padding: 20px;
    color: white;
    box-sizing: border-box;

    background: linear-gradient(
      135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05)) !important;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(2px);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    width: 90vw;
    max-width: 700px;
    height: 80vh;
    max-height: 90vh;

    border-radius: 20px;
    border: 2px solid white;
    border-style: dashed;
    z-index: 100;
    overflow-y: auto;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);

    animation: slide 0.5s ease-out forwards;
}

.skills-overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 110%;
    width: 110%;

    background-color: hsla(0, 0%, 0%, 0.5) !important;
    z-index: 1001;
}

.skills-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}

.skills-wrapper {
    width: 100%;
}


.skills-category {
    padding: 0px 15px;
    margin-bottom: 15px;
}

.category-title {
    font-size: 1.3rem;
    font-weight: bold;
    border-left: 4px solid white;
    background-color: rgba(255, 255, 255, 0.07);
    min-width: 220px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px 0px 10px 0px;
    padding-left: 10px;
    padding: 3px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    width: 100%;
    padding: 10px;
}

.skill-item {
    position: relative;
    border: 1px solid white;
    border-style: dashed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 250px;
    min-width: 200px;

    background: rgba(255, 255, 255, 0.2);
    padding: 10px 10px;
    border-radius: 10px;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: bold;
    list-style-type: none;
    transition: box-shadow 0.2s ease;
}

 @media (min-width: 301px) and (max-width: 460px) {
    body .skill-item{
      font-size: 15px;
      padding: 12px 8px;
    }
  }

.skill-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 6px;

  width: 100%;
  max-width: 250px;
  min-width: 200px;

      background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.05)
    );
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(2px);
    
  border: 2px solid white;
  border-style: dashed;
  border-top-style: solid;
  border-bottom-style: solid;
  text-shadow: -1px 1px 1px black,
                1px 1px 1px black;
  color: white;
  box-shadow: -1px 1px 1px hsla(0, 0%, 0%, 0.5),
               1px 1px 1px hsla(0, 0%, 0%, 0.5);
  padding: 4px 5px;
  border-radius: 6px;
  font-size: 0.85rem;
  white-space: nowrap;
  z-index: 2000;

  opacity: 0;
  pointer-events: none;
  transform: translateY(4px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.monthsTotal {
  font-weight: bold;
  margin-right: 30px;
}

.aprox-text {
  font-style: italic;
  opacity: 0.8;
  font-size: 0.75rem;
}


.skill-item:hover .skill-tooltip {
      opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
}
.skill-beginner {
    background: hsla(201, 100%, 77%, 0.3); /* soft blue */
  }
  
  .skill-intermediate {
    background: hsla(45, 100%, 75%, 0.3); /* warm yellow */
  }
  
  .skill-advanced {
    background: hsla(140, 70%, 70%, 0.3); /* mellow green */
  }

  .skill-advanced,.skill-beginner,.skill-intermediate{
    font-size: 17px;
  }
  

#exit {
    position: fixed;
    left: 92%;
    top: 2.5%;
    
    height: 35px;
    width: 36px;
    float: right;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid white;
    border-style: dashed;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;

    transition: color 0.3s ease;
}
#exit:hover {
    color: black;
    border-style: dotted;
}

.skill-name {
    text-align: left;
    flex: 1;
}

.skill-experience {
    width: 100px;
    text-align: center;
}

@media (max-width: 600px) {
    .skills-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .skill-item {
        justify-content: center;
        text-align: center;
    }

    .skills-container {
        width: 90vw;
        height: 85vh;
    }
    .skills-title{
      font-size: 22px !important;
    }

    #exit {
        left: 89%;
    }
}

@keyframes slide {
    0% { opacity: 0; }
    100% { opacity: 1; }
}