
/* Responsive Design */
@media only screen and (max-width: 600px) {
    body .projects--category h2{
        padding: 20px 0px 20px 0px;
    }
    body .bg-slider{
    margin-right: 0px;
    }
    body .hello{
    height: 93vh;
    padding-bottom: 50px;
    }
    body ul li{
        padding-top: 4px;
        font-size: 13px;
        width: 84px;
    }
    body .gmail{
        font-size: 11px;
        width: 84px;
    }
    body .left-side2, .right-side2{
        font-size: 14px;
    }

    body .video-background {
        object-fit: cover;
        height: 100vh;
        width: 100vw;
    }

    body #welcomeMessage {
        text-align: center;
        margin: 40px 0;
    }

    body .bg-slider .switch {
    top: 2px;
    height: 21px;
    width: 21px;
        }
    body .bg-slider {
    margin-top: 3px;
    margin-right: 7px;
    width: 52px;
    height: 27px;
  } 
  body .bg-slider.on .switch {
    left: 28px;
  }
  
  body .bg-slider.off .switch {
    left: 4px;
  }
}

@media only screen and (max-width: 800px) {
    .video {
        margin: 20px 10px;
    }

    .moreAbout {
        flex-direction: column;
        align-items: center;
    }

    .litteTalk,
    .vidContainer {
        width: 100%;
        margin: 0;
    }

    .litteTalk {
        text-align: center;
        margin-bottom: 20px;
        line-height: normal;
    }

    .vidContainer {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 500px) {
    #welcomeMessage{
      font-size: 29px;
    }
  }

@media (min-width: 301px) and (max-width: 600px) {
    #me {
        font-size: 20px;
    }
    .mainGreeting{
        font-size: 40px;
    }
    .hello h2:first-child{
    font-size: 40px;
    }
    .skills-title{
        font-size: 1.5rem;
    }
    .skills-category {
        padding: 0px 60px;
    }

    .right-side span {
        font-size: 12px;
    }

    ul li {
        width: 102px;
    }

    .Recources img {
        width: 39px;
        height: 39px;
    }
    .container .desc {
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 1100px) {
    #me {
        font-size: 22px;
    }
}