

/* .App{
    text-align: center;
    border: 5px solid white;
    width: 200px;
}
.projects--category{
    border: 5px solid white;
    text-align: center;
}
.projectImage{
    width: 200px;
}

.project{
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
  }
  
  .project-item{
    flex: 1 1 calc(10% - 20px);
    box-sizing: border-box;
  } */