
.hello{
  display: flex;
  justify-content: center;
  align-items: center;   
  text-align: center;
  height: 99vh;
  padding-bottom: 60px;
  transition: opacity 0.5s ease;
  font-size: 30px;
  line-height: 2vh;
  z-index: 1002;

  animation: shade 3s 1;
}

.hello h2{
  text-align: center;
  }

  #continueMsg{
    margin-top: 60px;
    opacity: 0.8;
    font-size: 20px;
    filter: drop-shadow(1px 1px 20px hsl(0, 0%, 99%));
    
    animation: shade 2s 1 forwards, shadeInf 2s 2s infinite;
    }

#dontShow {
  text-align: center;
  text-decoration: underline;
  font-size: 15px;
  opacity: 0.25;
  cursor: pointer;
  color: white;
    height: 5vh !important;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;

  transition: color 0.3s ease, opacity 0.3s ease;
  filter: drop-shadow(1px 1px 15px hsl(0, 0%, 69%));
}

#dontShow:hover {
  opacity: 0.5;
  text-shadow: 2px 1px 1px black;
}

.dontShowContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin:  10px 10px;
  width: 88%;
  margin: auto;
  height: 25px !important;
  color: black;
}

  .mainGreeting,.mainGreetingUnloaded{
    font-size: 60px;
    transition:opacity 0.5s ease;
    filter: drop-shadow(1px 1px 20px hsl(0, 0%, 60%));
  }
  .mainGreetingUnloaded{
    opacity: 0.3;
  }

.greetEmoji {
  display: inline-block;
  font-size: 40px;
  margin-top: 50px;
  animation: wave 4s ease-in-out infinite;
  filter: drop-shadow(1px 1px 30px hsl(0, 0%, 90%));
}

@keyframes wave {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(15deg);
  }
}

@keyframes shade{
  0%{opacity: 0;}
  100%{opacity: 1;}
} 


@keyframes shadeInf{
0%{opacity: 0.8;}
50%{opacity: 0.3;}
100%{opacity: 0.8}
}