
ul li{
  text-align: center;
  width: 90px;
  padding: 0px 5px;
  color: white;
  border-left: 1px solid white;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  user-select: none;
  border: 5px solid white;
}

ul li:hover{
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
}

ul li:first-child {
  width: 110px;
  margin-right: auto;
}