.skills-container {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);

    position: fixed; /* Keeps it centered on the screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    max-width: 600px;
    height: auto;
    padding: 20px;
    
    text-align: start;
    border-radius: 50px;
    border: 2px solid white;
    z-index: 100;
}

.skills-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.skill-item {
    font-size: 1.2rem;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 10px;
}
