/* SlideInSection.css */
.slide-in-section {
    opacity: 0;
    transform: translateX(-100px); /* Start from the left */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  
  .slide-in {
    opacity: 1;
    transform: translateX(0); /* Slide to its original position */
  }